html {
	height: 100%;
}
body {
	font-family: "SuperMolotLight", sans-serif;
	font-size: 24px;
	line-height: 1;
	position: relative;
	background-color: #F2F2F2;
	height: 100%;
}
.container {
	width: 314px;
	height: 397px;
	margin: 50px auto 0;
	text-align: center;
}
.container.index {
	position: absolute;
	top: 45%;
	left: 50%;
	margin: -198px 0 0 -157px;
}
.logo {
	background-image: url(../img/logo.svg);
	background-repeat: no-repeat;
	width: 313px;
	height: 198px;
	margin-bottom: 90px;
}
.contacts {}
.contacts .phone {
	line-height: 29px;
}
.contacts .email {
	color: #000;
	text-decoration: none;
	line-height: 29px;
}
.contacts .social {
	margin-top: 28px;
}
.contacts .social .icon {
	display: inline-block;
	color: #555555;
	font-size: 20px;
	line-height: 20px;
	text-decoration: none;
	margin-right: 8px;
}
.contacts .social .icon:last-child {
	margin-right: 0;
}
.container .sitelinks {
	text-align: left;
	margin-bottom: 90px;
}
.container .sitelinks .site {
	margin-bottom: 15px;
}
.container .sitelinks .site .silelink {}